 @import "bootstrap-sprockets";
 @import "bootstrap";

 * {
   font-family: Roboto, sans-serif;
 }

 .bp-nav-text {
   margin-top: 10px;
 }
.bp-bump-right-20px {
  margin-left: 20px;
}
.bp-nudge-down {
  margin-top: 3px;
}
#bp-markdown {
  padding-left: 8px;
  padding-right: 4px;
  border: 1px solid #c3c3c3;
}
#bp-header {
  font-size: 2rem;
  font-weight: bolder;
}
.bp-refresh {
  border: 1px solid #c3c3c3;
}
.bp-refresh:hover {
  background-color: #f3f3f3;
  transform: translate(1px, 1px);
  border: none;
}
#bp-preview {
  height:250px;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
}
.bp-gray-bg {
  background-color: #f3f3f3;
}
.bp-center {
  text-align: center;
  align: center;
}
.bp-wide-margin-left {
  margin-left: 7%;
}
.bp-wide-margin-right {
  margin-right: 7%;
}
.bp-35-width {
  width: 35%;
}
.bp-pad-left {
  padding-left: 80px;
}
#bp-jumbo-title {
  color: grey;
}
