// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bp-center {
  text-align: center;
  align: center;
}
.bp-wide-margin-left {
  margin-left: 7%;
}
.bp-wide-margin-right {
  margin-right: 7%;
}
.bp-35-width {
  width: 35%;
}
.bp-pad-left {
  padding-left: 80px;
}
#jumbo-title {
  color: grey;
}
