  <div>
    <% count = private_wiki_count %>
    <% if count > 0 %>
      <div>
        <h2 style="color:red">You have <%= count %> private <%= count == 1 ? "wiki" : "wikis"  %> that will all become public if you downgrade!</h2>
      </div>
      <br/>
    <% end %>
    <h3>Benefits of downgrading from Premium:</h3>
    <ul>
      <li>You can NOT create private wikis.</li>
      <li>You can NOT edit private wikis.</li>
      <li>and</li>
      <li>You can NOT see private wikis.</li>
    </ul>
    <br/>
    <h4>You will be not be charged anything for this service!</h4>
    <%= button_to "Downgrade Account", charge_path, method: :put, class: 'btn btn-default' %>
  </div>
